<div class="title">
  <h4>{{ currentLanguageSet?.tMDrugsList }}</h4>
  <button
    mat-icon-button
    matDialogClose
    matTooltip="{{ currentLanguageSet?.common?.close }}"
    class="pull-right exit width-20px">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!-- Prescription -->
<mat-dialog-content>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
    <div class="table-responsive">
      <table
        class="table table-bordered table-striped"
        aria-describedby="tmPrescribedDrugTable">
        <thead>
          <tr>
            <th id="sno">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
            <th id="nameOfDrug">
              {{ currentLanguageSet?.casesheet?.nameAndStrength }}
            </th>
            <th id="drugType">{{ currentLanguageSet?.casesheet?.drugType }}</th>
            <th id="form">{{ currentLanguageSet?.casesheet?.form }}</th>
            <th id="dose">{{ currentLanguageSet?.casesheet?.dose }}</th>
            <th id="frequency">
              {{ currentLanguageSet?.Prescription?.frequency }}
            </th>
            <th id="durationValue">
              {{ currentLanguageSet?.casesheet?.durValue }}
            </th>
            <th id="durationUnit">
              {{ currentLanguageSet?.casesheet?.durUnit }}
            </th>
            <th id="qtyPrescribed">
              {{ currentLanguageSet?.casesheet?.qtypresc }}
            </th>
            <th id="instructions">
              {{ currentLanguageSet?.Prescription?.instructions }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="tmPrescribedDrugs.length === 0">
            <td class="text-center" colspan="12">
              {{ currentLanguageSet?.common?.noRecordFound }}
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let drug of tmPrescribedDrugs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ drug.drugName }} {{ drug.drugStrength }}</td>
            <td>{{ drug.isEDL ? 'EDL' : 'Non-EDL' }}</td>
            <td>{{ drug.formName }}</td>
            <td>{{ drug.dose }}</td>
            <td>{{ drug.frequency }}</td>
            <td>{{ drug.duration }}</td>
            <td>{{ drug.unit }}</td>
            <td>{{ drug.qtyPrescribed }}</td>
            <td>{{ drug.instructions }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px">
    <h4>{{ currentLanguageSet?.prescribeDrugs }}</h4>
  </div>
  <form #prescriptionForm="ngForm" class="m-t-20">
    <section class="row no-row">
      <div class="col-md-3" style="padding-bottom: 8px">
        <div *ngIf="isStockAvalable === 'primary'">
          <mat-icon
            style="
              background-color: green;
              color: white;
              font-size: 20px;
              height: 20px;
              width: 20px;
            "
            class="mdat18">
            check
          </mat-icon>
          <span style="color: green; padding-left: 1px">
            {{ currentLanguageSet?.stockAvailability }}
          </span>
        </div>
        <div *ngIf="isStockAvalable === 'warn'">
          <mat-icon
            style="
              background-color: #c30d0d;
              color: white;
              font-size: 20px;
              height: 20px;
              width: 20px;
            "
            class="md-18">
            close </mat-icon
          ><span style="color: #c30d0d; padding-left: 5px">
            {{ currentLanguageSet?.stockAvailability }}
          </span>
        </div>
      </div>
    </section>
    <section class="row no-row">
      <div class="col-md-3 box">
        <mat-label>{{ currentLanguageSet?.casesheet?.form }}</mat-label>
        <mat-select
          class="input-full-width"
          name="form"
          [(ngModel)]="tempform"
          (change)="getFormValueChanged()"
          required>
          <mat-option *ngFor="let item of drugFormMaster" [value]="item">
            {{ item.itemFormName }}
          </mat-option>
        </mat-select>
      </div>

      <div class="col-md-3 box">
        <mat-form-field>
          <mat-label>{{
            currentLanguageSet?.Prescription?.medicine
          }}</mat-label>
          <input
            autocomplete="off"
            type="text"
            name="medicine"
            [disabled]="!currentPrescription.formID"
            matInput
            [(ngModel)]="tempDrugName"
            (keyup)="filterMedicine(tempDrugName)"
            (blur)="reEnterMedicine()"
            required
            [matAutocomplete]="autoGroup" />
          <mat-autocomplete
            #autoGroup="matAutocomplete"
            [displayWith]="displayFn">
            <mat-option
              *ngFor="let item of subFilteredDrugMaster"
              [value]="item"
              (onSelectionChange)="selectMedicineObject($event)">
              {{ item.itemName }} {{ item.strength
              }}{{ item.unitOfMeasurement }}
              {{ item.quantityInHand ? '(' + item.quantityInHand + ')' : '' }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-2 box">
        <mat-label>{{ currentLanguageSet?.Prescription?.dosage }}</mat-label>
        <mat-select
          class="input-full-width"
          name="dose"
          [(ngModel)]="currentPrescription.dose"
          [disabled]="!currentPrescription.drugID"
          required>
          <mat-option
            *ngFor="let item of filteredDrugDoseMaster"
            [value]="item.drugDose">
            {{ item.drugDose }}
          </mat-option>
        </mat-select>
      </div>

      <div class="col-md-4 box">
        <mat-label>{{ currentLanguageSet?.Prescription?.frequency }}</mat-label>
        <mat-select
          class="input-full-width"
          name="frequency"
          [(ngModel)]="currentPrescription.frequency"
          [disabled]="!currentPrescription.drugID"
          required>
          <mat-option
            *ngFor="let item of drugFrequencyMaster"
            [value]="item.frequency">
            {{ item.frequency }}
          </mat-option>
        </mat-select>
      </div>
    </section>

    <section class="row no-row" style="margin-top: 10px !important">
      <div class="col-md-3 box">
        <mat-label>{{
          currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
        }}</mat-label>
        <mat-select
          class="input-full-width"
          name="duration"
          [(ngModel)]="currentPrescription.duration"
          [disabled]="!currentPrescription.drugID"
          required>
          <mat-option *ngFor="let item of drugDurationMaster" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </div>

      <div class="col-md-3 box">
        <mat-label>{{ currentLanguageSet?.Prescription?.unit }}</mat-label>
        <mat-select
          class="input-full-width"
          name="unit"
          [(ngModel)]="currentPrescription.unit"
          [disabled]="!currentPrescription.drugID"
          required>
          <mat-option
            *ngFor="let item of drugDurationUnitMaster"
            [value]="item.drugDuration">
            {{ item.drugDuration }}
          </mat-option>
        </mat-select>
      </div>

      <div
        class="col-md-2 box"
        *ngIf="
          currentPrescription.formID &&
          currentPrescription.formID !== '1' &&
          currentPrescription.formID !== '2'
        ">
        <mat-label>{{ currentLanguageSet?.Prescription?.quantity }}</mat-label>
        <mat-select
          class="input-full-width"
          name="quantity"
          [(ngModel)]="currentPrescription.qtyPrescribed"
          [disabled]="!currentPrescription.drugID"
          required>
          <mat-option
            *ngFor="let item of drugDurationMaster | slice: 0 : 5"
            [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </div>

      <div
        class="box"
        [ngClass]="{
          'col-md-6':
            !currentPrescription.formID ||
            (currentPrescription.formID && currentPrescription.formID <= '2'),
          'col-md-4':
            currentPrescription.formID && currentPrescription.formID > '2'
        }">
        <mat-label>{{ currentLanguageSet?.Prescription?.Route }}</mat-label>
        <mat-select
          class="input-full-width"
          name="route"
          [(ngModel)]="currentPrescription.route"
          [disabled]="!currentPrescription.drugID">
          <mat-option
            *ngFor="let item of drugRouteMaster"
            [value]="item.routeName">
            {{ item.routeName }}
          </mat-option>
        </mat-select>
      </div>
    </section>

    <section class="row no-row" style="margin-top: 10px !important">
      <div class="col-md-10 box">
        <mat-form-field>
          <mat-label>{{
            currentLanguageSet?.Prescription?.instructions
          }}</mat-label>
          <textarea
            matInput
            allowText="textAreaValidator"
            defaultNull
            matTextareaAutosize
            name="instructions"
            maxlength="300"
            name="instructions"
            [disabled]="!currentPrescription.drugID"
            [(ngModel)]="currentPrescription.instructions">
          </textarea>
        </mat-form-field>
      </div>
      <div class="col-md-2 box bottom-space-for-button">
        <button
          id="add-button"
          [disabled]="prescriptionForm.invalid"
          mat-raised-button
          color="primary"
          type="button"
          class="pull-right"
          (click)="submitForUpload()">
          {{ currentLanguageSet?.common?.add }}
        </button>
      </div>
    </section>
  </form>
  <div
    [formGroup]="drugPrescriptionForm"
    *ngIf="drugPrescriptionForm.controls['prescribedDrugs']?.value.length > 0">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      formArrayName="prescribedDrugs">
      <div *ngFor="let drug of getPrescribedDrugs(); let j = index">
        <ng-container
          [formGroupName]="j"
          *ngIf="j >= pageLimits[0] && j < pageLimits[1]">
          <fieldset
            class="m-b-20"
            [ngClass]="{ fieldset: drug.value.createdBy }">
            <legend>
              {{ drug.value.drugName }} {{ drug.value.drugStrength }}
              {{ drug.value.isEDL ? '' : '- (Non-EDL) Medicine' }}
            </legend>
            <div class="row">
              <div class="col-md-1">
                <mat-form-field>
                  <mat-label>{{
                    currentLanguageSet?.casesheet?.form
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    readonly="true"
                    type="text"
                    matInput
                    formControlName="formName" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>{{
                    currentLanguageSet?.casesheet?.dose
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    readonly="true"
                    type="text"
                    matInput
                    formControlName="dose" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>{{
                    currentLanguageSet?.Prescription?.frequency
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    readonly="true"
                    type="text"
                    matInput
                    formControlName="frequency" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>{{
                    currentLanguageSet?.nurseData?.chiefComplaintsDetails
                      ?.duration
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    readonly="true"
                    type="text"
                    matInput
                    formControlName="durationView" />
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <mat-form-field>
                  <mat-label>{{
                    currentLanguageSet?.Prescription?.quantity
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    readonly="true"
                    type="text"
                    matInput
                    formControlName="qtyPrescribed" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>{{
                    currentLanguageSet?.Prescription?.instructions
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    allowText="textAreaValidator"
                    readonly="true"
                    type="text"
                    matInput
                    formControlName="instructions" />
                </mat-form-field>
              </div>
              <div class="col-md-1 centered-button">
                <button
                  mat-mini-fab
                  id="deleteMedicine"
                  (click)="deleteMedicine(j, drug.value.id)"
                  color="warn">
                  <em class="material-icons">close</em>
                </button>
              </div>
            </div>
          </fieldset>
        </ng-container>
      </div>
    </div>
    <mat-paginator
      [length]="drugPrescriptionForm.controls['prescribedDrugs'].value?.length"
      [pageSize]="pageSize"
      hidePageSize="true"
      (page)="setLimits($event.pageIndex)">
    </mat-paginator>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottom-space-for-button"
    *ngIf="drugPrescriptionForm.controls['prescribedDrugs'].value?.length">
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="pull-right"
      (click)="submitPrescription()">
      {{ currentLanguageSet?.common?.ok }}
    </button>
  </div>
</mat-dialog-content>
<!-- End of Prescription -->
