<nav class="navbar navbar-iemr">
  <div class="row container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#top-navbar, #main-navbar"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- <button
        mat-icon-button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#top-navbar, #main-navbar"
        aria-expanded="false">
        <mat-icon>menu</mat-icon>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand">
        <img src="assets/images/logo.png" alt="Logo" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="alignHead">
      <span *ngIf="status" class="alignWord"
        >{{ currentLanguageSet?.common?.SelectLanguage }}:
      </span>
      <select
        *ngIf="status"
        class="form-control drop-arrow border-radius-20 height-30 width120px pull-right"
        name="app_language"
        [(ngModel)]="app_language"
        (change)="changeLanguage(app_language)">
        <option
          *ngFor="let language of languageArray"
          [value]="language.languageName">
          {{ language.languageName }}
        </option>
      </select>
      <!-- eslint-disable-next-line  @angular-eslint/template/click-events-have-key-events -->
      <span
        *ngIf="isAuthenticated"
        class="cursorPointer material-icons iot"
        matTooltip="{{ currentLanguageSet?.common?.connectBluetooth }}"
        [ngClass]="{ connected: isConnected }"
        tabindex="{0}"
        (click)="openIOT()">
        bluetooth_searching
      </span>
      <a *ngIf="userName" matTooltip="{{ currentLanguageSet?.user }}">
        <img src="assets/images/user1.png" alt="user" />
        <span style="color: #d9d9d9">
          {{ currentLanguageSet?.user }}
          <span style="color: #d9d9d9">:</span>
          <span style="color: #ffffff">{{ userName | titlecase }}</span>
        </span>
      </a>
      <a
        *ngIf="servicePoint"
        class="servicePoint cursorPointer"
        [routerLink]="'/servicePoint'"
        matTooltip="{{ currentLanguageSet?.servicePoint }}">
        <img src="assets/images/placeholder.png" alt="servicepoint" />
        <span style="color: #d9d9d9"
          >{{ currentLanguageSet?.servicePoint }}
          <span style="color: #d9d9d9">:</span>
          <span style="color: #ffffff">{{ servicePoint | titlecase }}</span>
        </span>
      </a>
      <span
        class="cursorPointer fa fa-question-circle helpAlign"
        matTooltip="{{ currentLanguageSet?.help }}"
        *ngIf="isAuthenticated"
        alt="Help"
        [matMenuTriggerFor]="menu"
        aria-label="Known about us">
        <mat-icon>help_outline</mat-icon>
      </span>
      <mat-menu #menu="matMenu" x-position="before" class="m-t-40">
        <button mat-menu-item (click)="showVersionAndCommitDetails()">
          {{ currentLanguageSet?.version }} : {{ versionUI }}
        </button>
        <button mat-menu-item>
          <a target="_blank" rel="noopener noreferrer" href="{{ helpURL }}">{{
            currentLanguageSet?.licenseInfo
          }}</a>
        </button>
      </mat-menu>
      <!-- eslint-disable-next-line  @angular-eslint/template/click-events-have-key-events -->
      <a
        *ngIf="isAuthenticated"
        class="nav navbar-nav navbar-right logout cursorPointer"
        matTooltip="{{ currentLanguageSet?.logOut }}"
        tabindex="{0}"
        (click)="logout()">
        <span class="logoutIcon"></span>
        <span
          style="color: #ffffff"
          class="hidden-sm hidden-md hidden-lg"></span>
      </a>
    </div>
  </div>
</nav>

<div *ngIf="showRoles" class="row" style="display: flex">
  <div
    class="collapse nav navbar-nav navbar-collapse"
    id="main-navbar"
    *ngFor="let item of filteredNavigation; let isLast = last">
    <button
      *ngIf="item.role === 'Registrar'"
      mat-raised-button
      [matMenuTriggerFor]="items">
      {{ item.label }}
      <span class="caret"></span>
    </button>
    <mat-menu
      class="registrar-menu"
      #items="matMenu"
      yPosition="below"
      xPosition="after"
      [overlapTrigger]="false">
      <button
        mat-menu-item
        *ngFor="let value of item.work"
        [routerLink]="[value.link]"
        routerLinkActive="active">
        {{ value.label }}
      </button>
    </mat-menu>
    <button
      *ngIf="item.role !== 'Registrar'"
      mat-raised-button
      [routerLink]="[item.link]"
      routerLinkActive="active">
      {{ item.label }}
    </button>
    <button *ngIf="isLast" mat-raised-button routerLink="/common/reports">
      {{ currentLanguageSet?.common?.report }}
    </button>
  </div>
</div>
