<div class="container-fluid">
  <div class="row m-t-10 m-b-30">
    <div class="col-xs-12">
      <mat-tab-group class="tabs_css">
        <mat-tab label="Data Upload" [disabled]="showProgressBar">
          <mat-drawer-container class="example-container m-t-10">
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
              style="text-align: center; padding: 20px">
              <button
                *ngIf="displaySyncBool"
                mat-raised-button
                color="primary"
                class="mat_blue"
                (click)="syncGroups()"
                color="primary">
                {{ current_language_set?.startDataSync }}
              </button>
            </div>
            <section
              class="table-responsive"
              style="padding-bottom: 20px !important; border: unset">
              <table
                aria-describedby="synctable"
                class="table table-striped"
                *ngIf="showTable">
                <thead>
                  <tr>
                    <th id="empty">&nbsp;</th>
                    <th id="SYNCTableGroupName">
                      {{
                        current_language_set?.coreComponents?.sYNCTableGroupName
                      }}
                    </th>
                    <th id="sync">
                      {{ current_language_set?.coreComponents?.sYNC }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngIf="
                      syncTableGroupList && syncTableGroupList.length === 0;
                      else groupList
                    ">
                    <tr *ngFor="let row of blankTable">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </ng-container>
                  <ng-template #groupList>
                    <tr
                      *ngFor="let syncTableGroup of syncTableGroupList"
                      class="table-hover">
                      <td>
                        <div
                          [ngClass]="{
                            visitStatus: true,
                            'p-f-c':
                              syncTableGroup.status === 'partial' ||
                              syncTableGroup.status === 'pending',
                            'c-d':
                              syncTableGroup.status === 'completed' ||
                              syncTableGroup.status === 'success',
                            't-d': syncTableGroup.status === 'failed',
                          }"></div>
                      </td>
                      <td>
                        {{ syncTableGroup?.syncTableGroupName }}
                      </td>
                      <td>
                        <span
                          class="material-icons"
                          style="color: #0b69b2"
                          *ngIf="syncTableGroup.status === 'pending'"
                          >hourglass_empty</span
                        >
                        <span
                          class="material-icons"
                          style="color: #eaaa26"
                          *ngIf="syncTableGroup.status === 'partial'"
                          >indeterminate_check_box</span
                        >
                        <span
                          class="material-icons"
                          style="color: #43760f"
                          *ngIf="
                            syncTableGroup.status === 'success' ||
                            syncTableGroup.status === 'completed'
                          "
                          >check_circle</span
                        >
                        <span
                          class="material-icons"
                          style="color: #e44e4f"
                          *ngIf="syncTableGroup.status === 'failed'"
                          >error</span
                        >
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">
                      <ul
                        class="description"
                        style="display: flex; justify-content: center"
                        *ngIf="syncTableGroupList.length > 0">
                        <li>
                          <div
                            class="marker-p-f-c"
                            style="margin-right: 4px; margin-top: 4px"></div>
                          <p>
                            {{
                              current_language_set?.coreComponents
                                ?.pendingForDataSYNC
                            }}
                          </p>
                        </li>
                        <li>
                          <div
                            class="marker-t-d"
                            style="margin-right: 4px; margin-top: 4px"></div>
                          <p>
                            {{
                              current_language_set?.coreComponents
                                ?.partialDataSync
                            }}
                          </p>
                        </li>
                        <li>
                          <div
                            class="marker-p-f-t"
                            style="margin-right: 4px; margin-top: 4px"></div>
                          <p>
                            {{
                              current_language_set?.coreComponents
                                ?.errorForDataSync
                            }}
                          </p>
                        </li>
                        <li>
                          <div
                            class="marker-c-d"
                            style="margin-right: 4px; margin-top: 4px"></div>
                          <p>
                            {{
                              current_language_set?.coreComponents?.dataSynced
                            }}
                          </p>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </section>
          </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Data Download">
          <mat-drawer-container class="example-container m-t-10" autosize>
            <div class="example-sidenav-content">
              <button
                type="button"
                mat-raised-button
                color="primary"
                class="btn-green mat_blue"
                (click)="syncDownloadData()"
                [disabled]="showProgressBar">
                {{ current_language_set?.coreComponents?.download }}
              </button>
            </div>

            <div class="example-sidenav-content">
              <div *ngIf="showProgressBar" class="progress">
                <div
                  class="progress-bar progress-bar-striped active"
                  role="progressbar"
                  [attr.aria-valuenow]="progressValue"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progressValue + '%' }">
                  {{ progressValue + '%' }}
                </div>
              </div>

              <section
                *ngIf="failedMasterList && failedMasterList.length > 0"
                class="failedMaster">
                <h4>
                  {{ current_language_set?.coreComponents?.failedMasters }} :
                </h4>
                <ul class="list-group">
                  <li
                    class="list-group-item"
                    *ngFor="let item of failedMasterList">
                    {{ item }}
                  </li>
                </ul>
              </section>

              <section
                *ngIf="failedMasterList && failedMasterList.length === 0"
                class="download-success">
                <h4>
                  {{
                    current_language_set?.coreComponents
                      ?.dataDownloadedSuccessfully
                  }}
                  <span class="material-icons">done</span>
                </h4>
              </section>
            </div>
          </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Generate BeneficiaryID">
          <div class="col-12" style="width: 99%; padding-left: 12px">
            <section
              [formGroup]="generateBenIDForm"
              style="margin-top: 10px"
              class="row">
              <div class="col-6">
                <mat-card style="min-height: 240px">
                  <h4 style="text-align: center">Check BenID Availability</h4>
                  <div class="col-md-12 div-align">
                    <button
                      mat-raised-button
                      color="primary"
                      class="mat_blue"
                      (click)="checkBenIDAvailability()">
                      Check BenID
                    </button>
                  </div>
                  <div class="col-md-12 div-align" *ngIf="benID_Count">
                    <span
                      >Available BeneficiaryID Count: {{ benID_Count }}</span
                    >
                  </div>
                </mat-card>
              </div>
              <div class="col-6">
                <mat-card style="min-height: 240px">
                  <h4 style="text-align: center">Generate BenID</h4>
                  <div
                    class="col-12 row container-fluid"
                    style="margin-top: 20px; padding-left: 60px">
                    <div class="col-6">
                      <mat-form-field style="width: 100%">
                        <mat-label class="mat-label-text"
                          >BenID Range</mat-label
                        >
                        <mat-select
                          class=""
                          [disabled]="!benID_Count"
                          name="benID_Range"
                          formControlName="benID_Range"
                          required>
                          <mat-option value="1000">1000</mat-option>
                          <mat-option value="2000">2000</mat-option>
                          <mat-option value="3000">3000</mat-option>
                          <mat-option value="4000">4000</mat-option>
                          <mat-option value="5000">5000</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <button
                        mat-raised-button
                        color="primary"
                        style="float: left; margin-top: 10px; margin-left: 45px"
                        [disabled]="!generateBenIDForm.valid"
                        class="pull-right mat_blue"
                        (click)="
                          generateBenID(
                            generateBenIDForm.controls['benID_Range'].value
                          )
                        ">
                        Generate BenID
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Down Sync (Central to Local)">
          <div class="col-12 down-sync-tab">
            <section class="row down-sync-actions">
              <div class="col-12 div-align">
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  class="btn-green mat_blue"
                  (click)="startDownSync()"
                  [disabled]="downSyncInProgress || showProgressBar">
                  Start Down Sync
                </button>
              </div>
            </section>

            <section
              class="row"
              *ngIf="downSyncGroups && downSyncGroups.length > 0">
              <div class="col-12">
                <div
                  class="ds-conflict-note"
                  *ngIf="downSyncStatus && downSyncStatus.conflictsPending">
                  <span class="material-icons">compare_arrows</span>
                  <span>
                    <strong>{{ downSyncStatus.conflicts }}</strong>
                    {{
                      downSyncStatus.conflicts === 1
                        ? 'record was'
                        : 'records were'
                    }}
                    changed both here and at central. Nothing on this device was
                    overwritten - review each one and save the version you want
                    to keep.
                  </span>
                </div>
                <section
                  class="table-responsive"
                  style="padding-bottom: 20px !important; border: unset">
                  <table
                    aria-describedby="downsyncresults"
                    class="table table-striped">
                    <thead>
                      <tr>
                        <th id="dsEmpty">&nbsp;</th>
                        <th id="dsGroupName">Group</th>
                        <th id="dsGroupTables">Tables</th>
                        <th id="dsGroupRecords">Failed records</th>
                        <th id="dsGroupConflicts">Conflicts</th>
                        <th id="dsGroupStatus">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let g of downSyncGroups" class="table-hover">
                        <td>
                          <div
                            [ngClass]="{
                              visitStatus: true,
                              'p-f-c': g.status === 'partial',
                              'cf-d': g.status === 'conflict',
                              'c-d': g.status === 'success',
                              't-d': g.status === 'failed',
                            }"></div>
                        </td>
                        <td>{{ g.groupName }}</td>
                        <td>{{ g.succeeded }} / {{ g.total }}</td>
                        <td>
                          {{ g.failedRecords > 0 ? g.failedRecords : '-' }}
                        </td>
                        <td>
                          <span
                            class="ds-conflict-count"
                            *ngIf="g.conflicts > 0"
                            >{{ g.conflicts }}</span
                          >
                          <span *ngIf="!g.conflicts">-</span>
                        </td>
                        <td>
                          <span
                            class="material-icons"
                            style="color: #eaaa26"
                            *ngIf="g.status === 'partial'"
                            >indeterminate_check_box</span
                          >
                          <span
                            class="material-icons"
                            style="color: #e07b00"
                            *ngIf="g.status === 'conflict'"
                            title="Delivered, but a record needs review"
                            >compare_arrows</span
                          >
                          <span
                            class="material-icons"
                            style="color: #43760f"
                            *ngIf="g.status === 'success'"
                            >check_box</span
                          >
                          <span
                            class="material-icons"
                            style="color: #b22222"
                            *ngIf="g.status === 'failed'"
                            >indeterminate_check_box</span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </div>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Inventory Data Download">
          <mat-drawer-container class="example-container m-t-10" autosize>
            <div class="example-sidenav-content">
              <button
                type="button"
                mat-raised-button
                color="primary"
                class="btn-green m-b-20 mat_blue"
                (click)="inventorySyncDataDownload()"
                [disabled]="showProgressBar">
                Download
              </button>
            </div>
          </mat-drawer-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
