h5{
    font-weight: bold;
}

.mat-expansion-panel-header{
    background: rgba(37,55,70,0.2);
}

.input-full-width {
    width: 100%;
}

.radio-button{
    margin-right : 25px;
}

.control-label{
    font-weight: normal;
}

.mat-form-field {
    line-height: unset;
}
.mat_form_field_width >>>.mat-mdc-text-field-wrapper {
    width: 80% !important;
}
.mat_form_field_width_one >>>.mat-mdc-text-field-wrapper {
    width: 148%;
}

