<mat-expansion-panel [formGroup]="referForm" expanded="true">
  <mat-expansion-panel-header>
    <h5>{{ currentLanguageSet?.Referdetails?.refer }}</h5>
  </mat-expansion-panel-header>

  <div class="">
    <div class="col-12 row">
      <div class="col-6 tcell">
        <mat-label>
          {{
            currentLanguageSet?.Referdetails?.higherhealthcarecenter
          }}</mat-label
        >
      </div>
      <div class="col-6 tcell">
        <mat-form-field>
          <mat-label>{{
            currentLanguageSet?.Referdetails?.referredtoinstitute
          }}</mat-label>
          <mat-select
            style="width: 220px"
            (ngModelChange)="higherhealthcarecenter($event)"
            name="referredToInstituteID"
            formControlName="referredToInstituteID">
            <mat-option
              *ngFor="let center of higherHealthcareCenter"
              [value]="center.institutionID"
              >{{ center.institutionName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 row">
      <div class="col-6 tcell">
        <mat-label class="align-middle">{{
          currentLanguageSet?.Referdetails?.additionalservices
        }}</mat-label>
      </div>
      <div class="col-6 tcell">
        <mat-form-field>
          <mat-label>{{
            currentLanguageSet?.Referdetails?.additionalservices
          }}</mat-label>
          <mat-select
            (ngModelChange)="additionalservices($event)"
            multiple="true"
            name="refrredToAdditionalServiceList"
            formControlName="refrredToAdditionalServiceList">
            <mat-option
              *ngFor="let service of additionalServices"
              [value]="service.serviceName"
              [disabled]="canDisable(service)">
              {{ service.serviceName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div class="">
        <div *ngIf="selectValue > 0; else elseBlock" class="col-6 tcell">
          <mat-label class="align-middle">
            {{ currentLanguageSet?.Referdetails?.referralReason }}*</mat-label
          >
        </div>
        <div *ngIf="selectValue > 0; else elseBlockText" class="col-6">
          <mat-form-field class="referreason">
            <textarea
              matInput
              allowText="textAreaValidator"
              matTextareaAutosize
              required="true"
              formControlName="referralReason"
              name="Remarks"
              maxLength="300"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="">
        <div class="col-6">
          <ng-template #elseBlock>
            <div class="tcell">
              <mat-label class="align-middle">{{
                currentLanguageSet?.Referdetails?.referralReason
              }}</mat-label>
            </div>
          </ng-template>
        </div>

        <div class="col-6">
          <ng-template #elseBlockText>
            <div>
              <mat-form-field class="referreason">
                <textarea
                  matInput
                  allowText="textAreaValidator"
                  matTextareaAutosize
                  formControlName="referralReason"
                  name="Remarks"
                  maxLength="300"></textarea>
              </mat-form-field>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!--Revisit Date Added-->
    <div class="col-12 row">
      <div class="col-6">
        <mat-label>{{
          currentLanguageSet?.Referdetails?.revisitDate
        }}</mat-label>
      </div>
      <div class="col-6" style="padding-left: 0px; width: 280px">
        <mat-form-field>
          <mat-label>{{
            currentLanguageSet?.Referdetails?.revisitDate
          }}</mat-label>
          <input
            matInput
            [max]="maxSchedulerDate"
            [matDatepicker]="picker"
            formControlName="revisitDate"
            [min]="tomorrow"
            (change)="checkdate(revisitDate)" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
