<z-card class="bg-muted/40">
  <z-card-header>
    <z-card-title>{{ currentLanguageSet?.Referdetails?.refer }}</z-card-title>
  </z-card-header>

  <z-card-content class="flex flex-col gap-5">
    <form
      [formGroup]="referForm"
      autocomplete="off"
      class="grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-2">
      <!-- Referred to institute -->
      <z-form-field class="gap-1.5">
        <label z-form-label for="referredToInstituteID">
          {{ currentLanguageSet?.Referdetails?.higherhealthcarecenter }}
        </label>
        <z-form-control>
          <z-select
            class="w-full"
            id="referredToInstituteID"
            formControlName="referredToInstituteID"
            [zPlaceholder]="
              currentLanguageSet?.Referdetails?.referredtoinstitute
            "
            (zSelectionChange)="higherhealthcarecenter($event)">
            <z-select-item
              *ngFor="let center of higherHealthcareCenter"
              [zValue]="center.institutionID?.toString()">
              {{ center.institutionName }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>

      <!-- Additional services -->
      <z-form-field class="gap-1.5">
        <label z-form-label for="refrredToAdditionalServiceList">
          {{ currentLanguageSet?.Referdetails?.additionalservices }}
        </label>
        <z-form-control>
          <z-select
            class="w-full"
            id="refrredToAdditionalServiceList"
            [zMultiple]="true"
            formControlName="refrredToAdditionalServiceList"
            [zPlaceholder]="
              currentLanguageSet?.Referdetails?.additionalservices
            "
            (zSelectionChange)="additionalservices($event)">
            <z-select-item
              *ngFor="let service of additionalServices"
              [zValue]="service.serviceName"
              [zDisabled]="canDisable(service)">
              {{ service.serviceName }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>

      <!-- Referral reason -->
      <z-form-field class="gap-1.5 sm:col-span-2">
        <label
          z-form-label
          for="referralReason"
          [zRequired]="!!referForm.get('referralReason')?.enabled">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </label>
        <z-form-control>
          <textarea
            z-input
            class="w-full"
            id="referralReason"
            name="Remarks"
            rows="3"
            maxlength="300"
            formControlName="referralReason"></textarea>
        </z-form-control>
        <z-form-message
          zType="error"
          *ngIf="
            referForm.get('referralReason')?.enabled &&
            referForm.get('referralReason')?.errors?.['required'] &&
            referForm.get('referralReason')?.touched
          ">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </z-form-message>
      </z-form-field>

      <!-- Revisit date -->
      <z-form-field class="gap-1.5">
        <label z-form-label for="revisitDate">
          {{ currentLanguageSet?.Referdetails?.revisitDate }}
        </label>
        <z-form-control>
          <z-date-picker
            class="w-full"
            id="revisitDate"
            formControlName="revisitDate"
            zFormat="dd/MM/yyyy"
            [placeholder]="currentLanguageSet?.Referdetails?.revisitDate"
            [minDate]="tomorrow"
            [maxDate]="maxSchedulerDate"
            (dateChange)="checkdate($event)"></z-date-picker>
        </z-form-control>
      </z-form-field>
    </form>
  </z-card-content>
</z-card>
