.btn1{
  align-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0px;
text-decoration: none;
background:#e44e4f;
width: 80px !important;
height: 50px !important;
}
.btn1 :hover{
   background-color: none;
}

.mat-expansion-panel-header {
  background: rgba(37, 55, 70, 0.2);
}

/********/
.btn-group button {
 

    background-color: #ff5252 !important;
    border-color: unset !important;
    color: white;
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
    margin: 5px;
}

.btn-group1 button {

  background-color: #10df3d !important;
  border-color: unset !important;
  color: white;
  border: unset;
  border-radius: 3px;
  line-height: 36px;
  min-width: 88px;
  margin: 5px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.table>thead>tr>th {
  vertical-align: bottom !important;
  border-bottom: 2px solid #ddd !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px !important;
  line-height: 1.42857143 !important;
  vertical-align: baseline !important;
  border-top: 1px solid #ddd !important;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0 !important;
}
.table>:not(caption)>*>* {
  padding:unset !important;
  border-bottom-width: inherit !important;
  
}