.mtop20 {
	margin-top: 20px;
}

.mleft15 {
	margin-left: 15px;
}


.govid-msg {
	margin-top: -15px;
    float: left;
    font-size: 12px;
}
/* .mat_form_field_width >>> .mat-mdc-text-field-wrapper {
    width: 90% !important;
} */