<div class="row m-t-20" [formGroup]="genitoUrinarySystemDataForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="textarea-full-width">
      <mat-label>{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.genitoANC_OPD_PNC?.renalAngle
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="renalAngle"
        formControlName="renalAngle"
        maxlength="300"></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="textarea-full-width">
      <mat-label>{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.genitoANC_OPD_PNC?.suprapubicregion
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="suprapubicRegion"
        formControlName="suprapubicRegion"
        maxlength="300"></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="textarea-full-width">
      <mat-label>{{
        currentLanguageSet?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.genitoANC_OPD_PNC?.externalgenitalia
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="externalGenitalia"
        formControlName="externalGenitalia"
        maxlength="300"></textarea>
    </mat-form-field>
  </div>
</div>
