<mat-accordion [formGroup]="patientVisitForm">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.nurseData?.visitDetails }}</h5>
    </mat-expansion-panel-header>
    <app-patient-visit-details
      [mode]="mode"
      [patientVisitDetailsForm]="
        patientVisitDetailsForm
      "></app-patient-visit-details>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.tmcConfirmation }}</h5>
    </mat-expansion-panel-header>
    <app-tmcconfirmation
      [mode]="mode"
      [tmcConfirmationFormsGroup]="tmcConfirmationForm"
      [patientVisitDetailsForm]="patientVisitDetailsForm"></app-tmcconfirmation>
  </mat-expansion-panel>
</mat-accordion>
