<div class="row m-t-10 p-t-10" [formGroup]="tmcConfirmationFormsGroup">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-8 p-t-8">
    <div class="checkbox-group">
      <mat-label class="mat-label-text" class="control-label m-r-20">{{
        currentLanguageSet?.tmcConfirmed
      }}</mat-label>
      <mat-radio-group
        name="isTMCConfirmed"
        formControlName="tmcConfirmed"
        (change)="resetAdditionalServiceList($event)"
        required>
        <mat-radio-button color="primary" class="radio-button" [value]="true">
          {{ currentLanguageSet?.common?.yes }}
        </mat-radio-button>
        <mat-radio-button
          color="primary"
          [disabled]="disableNoOnSuccessOfYes"
          class="radio-button"
          [value]="false">
          {{ currentLanguageSet?.common?.no }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div *ngIf="showRadio">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-8 p-t-8">
      <div class="checkbox-group">
        <mat-label class="mat-label-text" class="control-label">{{
          currentLanguageSet?.isDiabetesconfirmed
        }}</mat-label>
        <mat-radio-group name="isDiabetic" formControlName="isDiabetic">
          <mat-radio-button
            color="primary"
            class="radio-button"
            [value]="true"
            disabled>
            {{ currentLanguageSet?.common?.yes }}
          </mat-radio-button>
          <mat-radio-button
            color="primary"
            class="radio-button"
            [value]="false"
            disabled>
            {{ currentLanguageSet?.common?.no }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-8 p-t-8">
      <div class="checkbox-group">
        <mat-label class="mat-label-text" class="control-label">{{
          currentLanguageSet?.isHypertensionconfirmed
        }}</mat-label>
        <mat-radio-group
          name="isHypertensionConfirmed"
          formControlName="isHypertensionConfirmed">
          <mat-radio-button
            color="primary"
            class="radio-button"
            [value]="true"
            disabled>
            {{ currentLanguageSet?.common?.yes }}
          </mat-radio-button>
          <mat-radio-button
            color="primary"
            class="radio-button"
            [value]="false"
            disabled>
            {{ currentLanguageSet?.common?.no }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="tmcConfirmationFormsGroup.value.tmcConfirmed === false">
    <mat-form-field>
      <mat-label>{{
        currentLanguageSet?.Referdetails?.referredtoinstitute
      }}</mat-label>
      <mat-select
        (ngModelChange)="higherhealthcarecenter($event)"
        name="referredToInstituteName"
        formControlName="refrredToAdditionalServiceList"
        required>
        <mat-option
          *ngFor="let center of higherHealthcareCenter"
          [value]="center"
          >{{ center.institutionName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box p-t-10"
    *ngIf="tmcConfirmationFormsGroup.value.tmcConfirmed === true">
    <button mat-raised-button color="primary" (click)="viewAndPrintCaseSheet()">
      {{ currentLanguageSet?.viewTMCaseSheet }}
    </button>
  </div>
</div>
<div
  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10"
  *ngIf="prescribedDrugDataFromCaseSheet?.length > 0">
  <div class="table-responsive">
    <table
      class="table table-bordered table-striped"
      aria-describedby="tmPrescribedDrugTable">
      <thead>
        <tr>
          <th id="sno">{{ currentLanguageSet?.casesheet?.serialNo }}</th>
          <th id="nameOfDrug">
            {{ currentLanguageSet?.casesheet?.nameAndStrength }}
          </th>
          <th id="drugType">{{ currentLanguageSet?.casesheet?.drugType }}</th>
          <th id="form">{{ currentLanguageSet?.casesheet?.form }}</th>
          <th id="dose">{{ currentLanguageSet?.casesheet?.dose }}</th>
          <th id="frequency">{{ currentLanguageSet?.casesheet?.freq }}</th>
          <th id="durationValue">
            {{ currentLanguageSet?.casesheet?.durValue }}
          </th>
          <th id="durationUnit">
            {{ currentLanguageSet?.casesheet?.durUnit }}
          </th>
          <th id="qtyPrescribed">
            {{ currentLanguageSet?.casesheet?.qtypresc }}
          </th>
          <th id="instructions">
            {{ currentLanguageSet?.casesheet?.instruct }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="prescribedDrugDataFromCaseSheet?.length === 0">
          <td class="text-center" colspan="12">
            {{ currentLanguageSet?.common?.noRecordFound }}
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let drug of prescribedDrugDataFromCaseSheet; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ drug.drugName }} {{ drug.drugStrength }}</td>
          <td>{{ drug.isEDL ? 'EDL' : 'Non-EDL' }}</td>
          <td>{{ drug.formName }}</td>
          <td>{{ drug.dose }}</td>
          <td>{{ drug.frequency }}</td>
          <td>{{ drug.duration }}</td>
          <td>{{ drug.unit }}</td>
          <td>{{ drug.qtyPrescribed }}</td>
          <td>{{ drug.instructions }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
