<div class="flex flex-col gap-4" [formGroup]="signsForm">
  <div class="grid grid-cols-1 gap-x-20 gap-y-6 md:grid-cols-2">
    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="shortnessOfBreath">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.shortnessofbreath
        }}
      </label>
      <z-radio-group
        id="shortnessOfBreath"
        name="shortnessOfBreath"
        formControlName="shortnessOfBreath"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="lumpInTheBreast">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.lumpinbreast
        }}
      </label>
      <z-radio-group
        id="lumpInTheBreast"
        name="lumpInTheBreast"
        formControlName="lumpInTheBreast"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="coughgt2Weeks">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.coughweeks
        }}
      </label>
      <z-radio-group
        id="coughgt2Weeks"
        name="coughgt2Weeks"
        formControlName="coughgt2Weeks"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="bloodStainedDischargeFromNipple">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.bloodstaineddischargefromnipple
        }}
      </label>
      <z-radio-group
        id="bloodStainedDischargeFromNipple"
        name="bloodStainedDischargeFromNipple"
        formControlName="bloodStainedDischargeFromNipple"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="bloodInSputum">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.bloodinsputum
        }}
      </label>
      <z-radio-group
        id="bloodInSputum"
        name="bloodInSputum"
        formControlName="bloodInSputum"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="changeInShapeAndSizeOfBreasts">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.changeinshapeandsizeofbreasts
        }}
      </label>
      <z-radio-group
        id="changeInShapeAndSizeOfBreasts"
        name="changeInShapeAndSizeOfBreasts"
        formControlName="changeInShapeAndSizeOfBreasts"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="difficultyInOpeningMouth">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.difficultyinopeningmouth
        }}
      </label>
      <z-radio-group
        id="difficultyInOpeningMouth"
        name="difficultyInOpeningMouth"
        formControlName="difficultyInOpeningMouth"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="vaginalBleedingBetweenPeriods">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.vaginalbleedingbetweenperiods
        }}
      </label>
      <z-radio-group
        id="vaginalBleedingBetweenPeriods"
        name="vaginalBleedingBetweenPeriods"
        formControlName="vaginalBleedingBetweenPeriods"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="nonHealingUlcerOrPatchOrGrowth">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.nonhealing
        }}
      </label>
      <z-radio-group
        id="nonHealingUlcerOrPatchOrGrowth"
        name="nonHealingUlcerOrPatchOrGrowth"
        formControlName="nonHealingUlcerOrPatchOrGrowth"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female30"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="vaginalBleedingAfterMenopause">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.vaginalbleedingaftermenopause
        }}
      </label>
      <z-radio-group
        id="vaginalBleedingAfterMenopause"
        name="vaginalBleedingAfterMenopause"
        formControlName="vaginalBleedingAfterMenopause"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="changeInTheToneOfVoice">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.changeInTheToneOfVoice
        }}
      </label>
      <z-radio-group
        id="changeInTheToneOfVoice"
        name="changeInTheToneOfVoice"
        formControlName="changeInTheToneOfVoice"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="breastEnlargement">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.breastEnlargement
        }}
      </label>
      <z-radio-group
        id="breastEnlargement"
        name="breastEnlargement"
        formControlName="breastEnlargement"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>

    <div
      *ngIf="female"
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
      <label z-form-label for="foulSmellingVaginalDischarge">
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.foulsmellingvaginaldischarge
        }}
      </label>
      <z-radio-group
        id="foulSmellingVaginalDischarge"
        name="foulSmellingVaginalDischarge"
        formControlName="foulSmellingVaginalDischarge"
        zOrientation="horizontal"
        class="gap-6">
        <z-radio [value]="true">{{ currentLanguageSet?.common?.yes }}</z-radio>
        <z-radio [value]="false">{{ currentLanguageSet?.common?.no }}</z-radio>
      </z-radio-group>
    </div>
  </div>

  <z-form-field>
    <label z-form-label for="observation">{{
      currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.symptoms
        ?.briefHistory
    }}</label>
    <z-form-control>
      <textarea
        z-input
        id="observation"
        allowText="textAreaValidator"
        defaultNull
        maxlength="300"
        name="observation"
        formControlName="observation"
        rows="3"
        class="w-full"></textarea>
    </z-form-control>
  </z-form-field>
</div>
