<div>
  <div class="title info">
    <h4>{{ currentLanguageSet?.bendetails?.editLocation }}</h4>
    <button
      class="pull-right close-btn"
      (click)="closeDialog()"
      mat-icon-button>
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>
</div>

<div [formGroup]="demographicEditDetailsForm" class="formMargin">
  <div class="panel-body">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.state }}</mat-label>
            <select
              class="p-t-12 m-t-20"
              [style.width]="'100%'"
              matNativeControl
              formControlName="stateID"
              [required]="true"
              (change)="onStateChange()">
              <option *ngFor="let state of statesList" [value]="state.stateID">
                {{ state.stateName | titlecase }}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{
              currentLanguageSet?.ro?.locInfo?.districtTownCity
            }}</mat-label>
            <select
              class="p-t-12 m-t-20"
              [style.width]="'100%'"
              [required]="true"
              matNativeControl
              formControlName="districtID"
              (change)="onDistrictChange()">
              <option
                *ngFor="let district of districtList"
                [value]="district.districtID">
                {{ district.districtName | titlecase }}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.taluk }}</mat-label>
            <select
              class="p-t-12 m-t-20"
              [style.width]="'100%'"
              [required]="true"
              matNativeControl
              formControlName="blockID"
              (change)="onSubDistrictChange()">
              <option
                *ngFor="let subDistrict of subDistrictList"
                [value]="subDistrict.blockID">
                {{ subDistrict.blockName | titlecase }}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.street }}</mat-label>
            <select
              class="p-t-12 m-t-20"
              [style.width]="'100%'"
              [required]="true"
              matNativeControl
              formControlName="villageID"
              (change)="onVillageChange()">
              <option
                *ngFor="let village of villageList"
                [value]="village.districtBranchID">
                {{ village.villageName | titlecase }}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <div class="pull-right break">
        <br />
        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="input-full-width"
          [disabled]="demographicEditDetailsForm.invalid"
          (click)="onSubmitEditLocation()">
          {{ currentLanguageSet?.common?.ok }}
        </button>
      </div>
      <div class="pull-right cancel">
        <br />
        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="input-full-width"
          (click)="closeDialog()">
          {{ currentLanguageSet?.common?.cancel }}
        </button>
      </div>
    </div>
  </div>
</div>
