<div>
  <div class="title info">
    <h4>{{ currentLanguageSet?.bendetails?.editLocation }}</h4>
    <button
      class="pull-right close-btn"
      (click)="closeDialog()"
      mat-icon-button>
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>
</div>

<div [formGroup]="demographicEditDetailsForm" class="formMargin">
  <div class="panel-body">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.state }}</mat-label>
            <mat-select
              formControlName="stateID"
              [required]="true"
              (selectionChange)="onStateChange()">
              <mat-option
                *ngFor="let state of statesList"
                [value]="state.stateID">
                {{ state.stateName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{
              currentLanguageSet?.ro?.locInfo?.districtTownCity
            }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="districtID"
              (selectionChange)="onDistrictChange()">
              <mat-option
                *ngFor="let district of districtList"
                [value]="district.districtID">
                {{ district.districtName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.taluk }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="blockID"
              (selectionChange)="onSubDistrictChange()">
              <mat-option
                *ngFor="let subDistrict of subDistrictList"
                [value]="subDistrict.blockID">
                {{ subDistrict.blockName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field>
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.street }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="villageID"
              (selectionChange)="onVillageChange()">
              <mat-option
                *ngFor="let village of villageList"
                [value]="village.districtBranchID">
                {{ village.villageName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div style="text-align: end; margin-bottom: 10px">
        <button
          mat-raised-button
          class="mat_blue"
          style="margin-right: 5px"
          type="submit"
          (click)="closeDialog()">
          {{ currentLanguageSet?.common?.cancel }}
        </button>
        <button
          mat-raised-button
          class="mat_blue"
          type="submit"
          [disabled]="demographicEditDetailsForm.invalid"
          (click)="onSubmitEditLocation()">
          {{ currentLanguageSet?.common?.ok }}
        </button>
      </div>
    </div>
  </div>
</div>
