

.info {
    background: #0277bd;
}

.title {
    margin: 0px;
    padding: 15px 24px 15px;
    color: white;
}

.title h4 {
    display: inline-block;
}



.close-btn {
    color: #fff !important;
    background-color: #0277bd;
    border: unset;
    left: 20px;
    bottom: 50px;
    z-index: 3;

}
.formMargin{
    margin-right: 30px;
    margin-left: 30px;
}