h5 {
  font-weight: bold;
}

.mat-expansion-panel-header {
  background: rgba(37, 55, 70, 0.2);
}

.view-link {
  text-align: center;
}

.table {
  margin-bottom: 0px;
}

.graph tr td {
  border: none;
}

.textarea-full-width {
  width: 100%;
}

.no_records {
  border: 0.2px solid gray;
  display: block;
  padding: 50px;
  text-align: center;
}

.abnormal {
  color: red !important;
}

img {
  border: 1px solid black;
}

.firstHalf {
  float: left;
  width: 50%;
}

.secondHalf {
  float: right;
  width: 50%;
}

.norecord {
  text-align: center;
}
td{
  height: 37px !important;
  border: 1px solid #ddd !important;
  padding: 8px !important;
}
/* .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px !important;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
} */
.table>:not(caption)>*>* {
  padding:unset !important;
 
}