<div [formGroup]="demographicDetailsForm">
  <div class="panel-body">
    <mat-slide-toggle
      id="demographicsToggle"
      formControlName="checked"
      color="primary"
      class="pull-right"
      [checked]="demographicsEditEnabled"
      (change)="confirmEditDemographicsNew($event)"
      labelPosition="before"
      ><span
        style="
          font-variant-caps: titling-caps;
          color: #14508c;
          font-weight: bold;
        "
        >{{ demographicsEditText }}</span
      ></mat-slide-toggle
    >
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.state }}</mat-label>
            <mat-select
              formControlName="stateID"
              [required]="true"
              [disabled]="disableState">
              <mat-option
                *ngFor="let state of statesList"
                [value]="state.stateID">
                {{ state.stateName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div
        formArrayName="villages"
        class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div
          *ngFor="let village of getDemographicsVillageList(); let i = index">
          <div [formGroupName]="i">
            <mat-form-field [style.width]="'100%'">
              <mat-label>{{
                currentLanguageSet?.ro?.locInfo?.street
              }}</mat-label>
              <input
                autocomplete="off"
                type="text"
                matInput
                name="villageID"
                formControlName="villageID"
                [matAutocomplete]="auto"
                (keyup)="suggestedVillageList(village, i)" />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="
                  filterVillage($event.option.value, i);
                  onChangeVillage($event.option.value)
                "
                [displayWith]="displayVillage">
                <mat-option
                  *ngFor="let village of suggestedvillageList[i]"
                  [value]="village">
                  {{ village.villageName | titlecase }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.ro?.locInfo?.districtTownCity
            }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="districtID"
              [disabled]="disableDistrict">
              <mat-option
                *ngFor="let district of districtList"
                [value]="district.districtID">
                {{ district.districtName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.taluk }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="blockID"
              [disabled]="disableSubDistrict">
              <mat-option
                *ngFor="let subDistrict of subDistrictList"
                [value]="subDistrict.blockID">
                {{ subDistrict.blockName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{ currentLanguageSet?.ro?.locInfo?.zone }}</mat-label>
            <mat-select [disabled]="true" formControlName="zoneID">
              <mat-option
                *ngFor="let zones of zonesList"
                [value]="zones.zoneID">
                {{ zones.zoneName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.ro?.locInfo?.parkingPlace
            }}</mat-label>
            <mat-select [disabled]="true" formControlName="parkingPlace">
              <mat-option
                *ngFor="let parkingPlace of parkingPlaceList"
                [value]="parkingPlace.parkingPlaceID">
                {{ parkingPlace.parkingPlaceName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.casesheet?.servicePoint
            }}</mat-label>
            <mat-select [disabled]="true" formControlName="servicePoint">
              <mat-option
                *ngFor="let servicePoint of servicePointList"
                [value]="servicePoint.servicePointID">
                {{ servicePoint.servicePointName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>{{
            currentLanguageSet?.ro?.locInfo?.habitation
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="habitation"
            maxlength="50" />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.ro?.locInfo?.address1 }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="addressLine1"
            maxlength="50" />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.ro?.locInfo?.address2 }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="addressLine2"
            maxlength="50" />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.ro?.locInfo?.address3 }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="addressLine3"
            maxlength="50" />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.ro?.locInfo?.pincode }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="number"
            maxlength="6"
            formControlName="pincode" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
