#demographicsToggle {
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    padding: 2px 3px 3px 3px;
    margin-top: 10px;
}
.example-full-width {
    width:100%;
  }
  .padding-text{
      margin-top:1px ;
  }