<!-- <div class="title">
  <h4>{{current_language_set?.coreComponents?.filesClickToDownload}}</h4>
  <button mat-icon-button matDialogClose tooltip="{{current_language_set?.common?.close}}" class="pull-right exit width-20px">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container-fluid">
  <table
  class="table table-bordered"
  mat-table
  [dataSource]="dataSource"
  aria-describedby="viewRadiologyFiles">
  <ng-container>
    <th
      mat-header-cell
      style="border-bottom: none"
      *matHeaderCellDef
      mat-sort-header>
      <th id=""></th> <!--Empty header added to resolve sonarqube error-->
<!-- </th>
  </ng-container>

  <ng-container>
    <td class="td-style"></td>
    <td class="td-style"></td>
    <td style="text-align: right;" class="td-style" >{{i+1}}.</td>
    <td (click)= "openFileContent(fileID)" style="text-align: left" class="td-style">{{fileID.fileName}}</td>
  </ng-container>
  </table>
</div> -->
-->
