.input-full-width {
  width: 100%;
}

.box {
  height: 60px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  background-color: #0277bd;
  margin: 0 4px;
  margin-left: 0;
  margin-right: 0;
  color: white;
  position: relative;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}

.mat-raised-button.mat-primary[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
}
.mat_form_field_color >>>.mdc-text-field--filled, .mdc-text-field--focused {
  background-color: #f2f2f0 !important;
}
/* .mat_form_field_width >>>.mat-mdc-text-field-wrapper {
  width: 135% !important;
} */