h5 {
    font-weight: bold;
}

.mat-expansion-panel-header {
    background: rgba(37, 55, 70, 0.2);
}

.input-full-width {
    width: 100%;
}

.radio-button {
    margin-right: 25px;
}

.control-label {
    font-weight: normal;
}

.mat-form-field {
    line-height: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.mat_form_field_width_thee >>>.mat-mdc-text-field-wrapper {
    width: 83% !important;
}
.mat_form_field_width >>>.mat-mdc-text-field-wrapper {
    width: 83% !important;
}
.mat_form_field_width_one >>> .mat-mdc-text-field-wrapper {
    width: 28% !important;
}
.mat_form_field_width_two >>>.mat-mdc-text-field-wrapper {
    width: 159% !important;
}