<!--{{cancerPatientPerosnalHistoryForm.value | json}} -->
<div [formGroup]="cancerPatientPerosnalHistoryForm">
  <div class="row m-t-10">
    <div class="col-xs-12 text-right">
      <span class="font-history-label">{{
        currentLanguageSet?.historyData?.personalhistory?.personaldiethistory
      }}</span>
      <button
        mat-icon-button
        matTooltip="{{
          currentLanguageSet?.alerts?.previousHistoryDetailsAlert?.previousDiet
        }}"
        id="previousCancerPersonalDietHistory"
        color="primary"
        (click)="getPreviousCancerPersonalDietHistory()">
        <mat-icon class="md-18">history</mat-icon>
      </button>
      <span class="font-history-label">{{
        currentLanguageSet?.historyData?.personalhabit?.personalhabithistroy
      }}</span>
      <button
        mat-icon-button
        matTooltip="{{
          currentLanguageSet?.alerts?.previousHistoryDetailsAlert?.previousHabit
        }}"
        color="primary"
        id="PreviousCancerPersonalHabitHistory"
        (click)="getPreviousCancerPersonalHabitHistory()">
        <mat-icon class="md-18">history</mat-icon>
      </button>
    </div>
  </div>

  <div class="row m-t-10">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.tobaccoUse
          }}"
          name="tobaccoUse"
          formControlName="tobaccoUse"
          (slectionChange)="checkTobaccoUseStatus(tobaccoUse)">
          <mat-option
            *ngFor="let tobaccousage of templateTobaccoUseStatus"
            [value]="tobaccousage.habitValue">
            {{ tobaccousage.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="tobaccoUse && tobaccoUse !== 'Never Used'">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.startAge
          }}"
          maxlength="3"
          name="startAge_year"
          formControlName="startAge_year"
          (change)="checkStartAge($event)" />
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="
        tobaccoUse &&
        tobaccoUse !== 'Never Used' &&
        tobaccoUse !== 'Currently Using'
      ">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.stopAge
          }}"
          maxlength="3"
          name="endAge_year"
          formControlName="endAge_year"
          (change)="checkStopAge($event)" />
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="tobaccoUse && tobaccoUse !== 'Never Used'">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          multiple
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.typeofTobaccoProductsused
          }} "
          name="typeOfTobaccoProductList"
          formControlName="typeOfTobaccoProductList"
          (slectionChange)="tobaccoSelected()">
          <mat-option
            *ngFor="let typeOfTobaccoProducts of templateTobaccoProductUsed"
            [value]="typeOfTobaccoProducts.habitValue">
            {{ typeOfTobaccoProducts.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="doSmokeCigarettes || doSmokeBeedi">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.cigarettes
          }}"
          maxlength="2"
          name="quantityPerDay"
          formControlName="quantityPerDay" />
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-3 col-lg-4 box"
      *ngIf="doSmokeCigarettes">
      <label class="control-label" for="drug">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.cigarette
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="isFilteredCigaerette"
        formControlName="isFilteredCigaerette">
        <mat-radio-button color="primary" class="radio-button" [value]="true"
          >{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.filtered
          }}
        </mat-radio-button>
        <mat-radio-button color="primary" class="radio-button" [value]="false"
          >{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.nonFiltered
          }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <label class="control-label" for="drug">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.exposuretoSecondHandsmoke
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="isCigaretteExposure"
        formControlName="isCigaretteExposure">
        <mat-radio-button color="primary" class="radio-button" [value]="true">{{
          currentLanguageSet?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-button"
          [value]="false"
          >{{ currentLanguageSet?.common?.no }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <label class="control-label" for="drug">
        {{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
            ?.habitofBetelnutchewing
        }}
      </label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="isBetelNutChewing"
        formControlName="isBetelNutChewing"
        (change)="checkBetelQuid()">
        <mat-radio-button color="primary" class="radio-button" [value]="true">{{
          currentLanguageSet?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-button"
          [value]="false"
          >{{ currentLanguageSet?.common?.no }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="isBetelNutChewing">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          [min]="1"
          allowText="number"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.durationofbetelquidinmouth
          }}"
          maxlength="2"
          name="durationOfBetelQuid"
          formControlName="durationOfBetelQuid"
          (keypress)="minimumvaluenonZeroBetelQuid($event)"
          (change)="minimumvaluenonZeroBetelQuid($event)"
          (focus)="minimumvaluenonZeroBetelQuid($event)" />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.alcoholuse
          }} "
          name="alcoholUse"
          formControlName="alcoholUse"
          (selectionChange)="checkUsageOfAlcohol()">
          <mat-option
            *ngFor="let alcoholUsage of templateAlcoholUseStatus"
            [value]="alcoholUsage.habitValue">
            {{ alcoholUsage.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="alcoholUse && alcoholUse !== 'Never Used'">
      <label class="control-label" for="drug">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.alcoholconsumed
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="ssAlcoholUsed"
        formControlName="ssAlcoholUsed"
        (change)="checkLastAlcoholUsage()">
        <mat-radio-button color="primary" class="radio-button" [value]="true">{{
          currentLanguageSet?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-button"
          [value]="false"
          >{{ currentLanguageSet?.common?.no }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="alcoholUse && alcoholUse !== 'Never Used' && ssAlcoholUsed">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.frequency
          }} "
          name="frequencyOfAlcoholUsed"
          formControlName="frequencyOfAlcoholUsed">
          <mat-option
            *ngFor="let frequencyOfAlcoholIntake of templateFrequecyOfAlcohol"
            [value]="frequencyOfAlcoholIntake.habitValue">
            {{ frequencyOfAlcoholIntake.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.dietType
          }} "
          name="dietType"
          formControlName="dietType">
          <mat-option
            *ngFor="let diet of templateDietTypes"
            [value]="diet.habitValue">
            {{ diet.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number "
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.weeklyintakeofOutsidemeal
          }} "
          maxlength="2 "
          name="intakeOfOutsidePreparedMeal"
          formControlName="intakeOfOutsidePreparedMeal" />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number "
          (keypress)="preventFruitConsumption($event)"
          (change)="checkFruitConsumption()"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.fruitconsumption
          }} "
          maxlength="1"
          name="fruitConsumptionDays"
          formControlName="fruitConsumptionDays" />
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="fruitConsumptionDays && fruitConsumptionDays !== '0'">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number "
          (change)="fruitConsumptionPerDayCheck($event)"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.quantityconsumed
          }} "
          maxlength="2"
          name="fruitQuantityPerDay"
          formControlName="fruitQuantityPerDay" />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number "
          (keypress)="preventVegetableConsumption($event)"
          (change)="checkVegetableConsumption()"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.vegetableconsumption
          }} "
          maxlength="1 "
          name="vegetableConsumptionDays"
          formControlName="vegetableConsumptionDays" />
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="vegetableConsumptionDays && vegetableConsumptionDays !== '0'">
      <mat-form-field class="input-full-width">
        <input
          autocomplete="off"
          matInput
          appDefaultNull
          allowText="number "
          (change)="vegetableConsumptionPerDayCheck($event)"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.quantityconsumed
          }} "
          maxlength="2 "
          name="vegetableQuantityPerDay"
          formControlName="vegetableQuantityPerDay" />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          multiple
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.typeofoilconsumed
          }} "
          (selectionChange)="oilSelected()"
          name="typeOfOilConsumedList"
          formControlName="typeOfOilConsumedList">
          <mat-option
            *ngFor="let oil of templateOilConsumed"
            [value]="oil.habitValue">
            {{ oil.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field>
        <mat-select
          class="input-full-width"
          placeholder="{{
            currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
              ?.physicalActivityType
          }} "
          name="physicalActivityType"
          formControlName="physicalActivityType">
          <mat-option
            *ngFor="let activity of templatePhysicalActivityType"
            [value]="activity.habitValue">
            {{ activity.habitValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <label class="control-label" for="drug">{{
        currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
          ?.historyofexposuretoradiation
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="ssRadiationExposure"
        formControlName="ssRadiationExposure">
        <mat-radio-button color="primary" class="radio-button" [value]="true">{{
          currentLanguageSet?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-button"
          [value]="false"
          >{{ currentLanguageSet?.common?.no }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <label class="control-label" for="drug">{{
        currentLanguageSet?.historyData?.personalhistory
          ?.historyofanythyroiddisorder
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="isThyroidDisorder"
        formControlName="isThyroidDisorder">
        <mat-radio-button color="primary" class="radio-button" [value]="true">{{
          currentLanguageSet?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-button"
          [value]="false"
          >{{ currentLanguageSet?.common?.no }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
</div>
