<div class="col-12 title row" *ngIf="previous">
  <div class="col-6">
    <h4>{{ currentLanguageSet?.nurseData?.visitDetails }}</h4>
  </div>
  <div class="col-6">
    <mat-icon
      class="pull-right exit md-24"
      style="text-align: end"
      [matDialogClose]="false"
      >close</mat-icon
    >
  </div>
</div>
<div [ngClass]="{ 'scrolling-content': previous }">
  <app-cancer-case-sheet
    *ngIf="CancerScreening"
    [previous]="previous"
    [serviceType]="serviceType"></app-cancer-case-sheet>
  <app-general-case-sheet
    *ngIf="General"
    [previous]="previous"
    [serviceType]="serviceType"></app-general-case-sheet>
</div>
