<div class="row title" *ngIf="previous">
  <h4>{{ currentLanguageSet?.nurseData?.visitDetails }}</h4>
  <button class="pull-right exit" [matDialogClose]="false" mat-icon-button>
    <mat-icon class="mat-24">close</mat-icon>
  </button>
</div>
<div [ngClass]="{ 'scrolling-content': previous }">
  <app-cancer-case-sheet
    *ngIf="CancerScreening"
    [previous]="previous"
    [serviceType]="serviceType"></app-cancer-case-sheet>
  <app-general-case-sheet
    *ngIf="General"
    [previous]="previous"
    [serviceType]="serviceType"></app-general-case-sheet>
</div>
