.radio-btn {
  margin-left: 8px;
  font-weight: 700;
}

.align-Field {
  margin-top: -10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matCardService {
  width: 550px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
}

.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: none;
}

mat-card-actions {
  display: block;
  float: right;
}
/* .mat_form_field_width >>>.mat-mdc-text-field-wrapper {
  width: 208.5% !important;
} */

